body{
    background-color: lightseagreen;
}
*{
    margin: 0;
    padding: 0;
}
td{
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
}

table{
    margin: auto;
}

.abajo{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontalderecho{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.completo{
    border: 1px solid black;
}
.arriba{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.horizontalizquierdo{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}